<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/lib/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/checkbox.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/models.css' />
    <link rel='stylesheet' href='/css/heatmap.css' />
    <link rel='stylesheet' href='/css/table.css' />
    <link rel='stylesheet' href='/css/pipeline.css' />
    <link rel='stylesheet' href='/css/confusion-matrix.css' />
    <link rel='stylesheet' href='/css/roc.css' />
    <link rel='stylesheet' href='/css/predictions.css' />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- D3.js-->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//vega.github.io/vega-editor/vendor/vega.js" charset="utf-8"></script>
    <script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>

    <!-- lib js files -->
    <script src="/js/lib/ejs_production.js"></script>
    <script src="/js/lib/jquery.dataTables.min.js"></script>
    <script src="/js/lib/clusterfck.js"></script>

    <!-- script files -->
    <script src='/js/tooltip.js'></script>
    <script src='/js/predictions/config.js'></script>
    <script src='/js/predictions/heatmap.js'></script>
    <script src='/js/predictions/agg_heatmap.js'></script>
    <script src='/js/predictions/pipeline.js'></script>
    <script src='/js/predictions/table.js'></script>
    <script src='/js/predictions/confusion_matrix.js'></script>
    <script src='/js/predictions/roc.js'></script>
    <script src='/js/predictions/pr.js'></script>
    <script src='/js/predictions/examples.js'></script>
    <script src='/js/predictions.js'></script>

  </head>
  <body data-id=<%= id %>>
    <%- include partials/nav.ejs %>
    <div class="container">
      <div class="menu">

        <div class="menu-section-container">
          <h2>Models</h2>
          <div class="predictions-selected-models">
            Double click on a column label in the prediction matrix to select a model
          </div>
        </div>

        <div class="menu-section-container">
          <h2>Encoding scheme</h2>
          Select color scale for encoding predictions in the matrix
          <div class="select-container">
            <select class="color-scheme">
              <option value="OB_SCALE">Raw prediction values</option>
              <option value="BINARY_SCALE">Binary classification</option>
              <option value="MONO_SCALE">Distance from ground truth</option>
              <option value="CORRECTNESS_SCALE">Correctness</option>
            </select>
          </div>
        </div>

        <div class="menu-section-container predictions-sort-container">
          <h2>Sort</h2>
          Order the rows and columns of the prediction matrix.
          <div class="select-container">
            <select class="predictions-sort">
              <option selected value="None">None</option>
              <option value="ex_inc">Example ID (increasing)</option>
              <option value="ex_dec">Example ID (decreasing)</option>
              <option value="m_inc">Model ID (increasing)</option>
              <option value="m_dec">Model ID (decreasing)</option>
              <option value="h_cluster">hcluster</option>
              <option value="k_means">k means</option>
            </select>
          </div>
        </div>

        <div class="menu-section-container predictions-threshold-container">
          <h2>Threshold</h2>
          Select threshold for binary classification.
          <input type="range" min="0" max="1" value="0.5" step="0.01" class="threshold">
          <div class="predictions-threshold-value">0.5</div>
        </div>

      </div>
      <div class="tab" data-id="0">
        <div class="heatmap-container">
          <div class="heatmap-legend"></div>
          <div class="agg-heatmap"></div>
          <div id="heatmap" class="heatmap"></div>
        </div>
        <div class="examples-menu-container">
          <div class="examples-menu fixed">
            <div class="examples-menu-close">X</div>
            <div class="examples-menu-radio">
              <input id="radio-random" type="radio" name="select" value="random" checked/>
              <label for="radio-random">Random sample</label>
            </div>

            <div class="examples-menu-radio">
              <input id="radio-filter" type="radio" name="select" value="filter"/>
              <label for="radio-filter">Filter</label>
              <div class="example-filter-groups">
                <div class="filter-groups-container">
                </div>
                <div class="filter-btn">Filter data</div>
                <div class="add-filter-group-btn"
                 data-val="Add filter group"
                >+</div>
              </div>
            </div>


            <div class="examples-menu-radio">
              <input id="radio-group" type="radio" name="select" value="group"/>
              <label for="radio-group">Group</label>
              <div class="examples-group-by">
                group by:
                <select>
                  <option selected value="None">None</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div id="charts">
          <div class="roc-container"></div>
          <div class="pr-container"></div>
        </div>
        <div id="pipelines"></div>
        <div id="confusion-matrices"></div>
        <div class="table-container">
          <table class="cell-border hover stripe" id="table"></table>
        </div>
        <div class="example-container"></div>
      </div>
    </div>

    <div id="heatmap-tooltip" class="hidden"><div id="value"></div></div>
  </body>
</html>
