<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/lib/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/checkbox.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/models.css' />
    <link rel='stylesheet' href='/css/heatmap.css' />
    <link rel='stylesheet' href='/css/table.css' />
    <link rel='stylesheet' href='/css/pipeline.css' />
    <link rel='stylesheet' href='/css/confusion-matrix.css' />
    <link rel='stylesheet' href='/css/predictions.css' />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- D3.js-->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- lib js files -->
    <script src="/js/lib/ejs_production.js"></script>
    <script src="/js/lib/jquery.dataTables.min.js"></script>

    <!-- script files -->
    <script src='/js/tooltip.js'></script>
    <script src='/js/predictions/config.js'></script>
    <script src='/js/predictions/heatmap.js'></script>
    <script src='/js/predictions/pipeline.js'></script>
    <script src='/js/predictions/table.js'></script>
    <script src='/js/predictions/confusion_matrix.js'></script>
    <script src='/js/predictions.js'></script>

  </head>
  <body>
    <%- include partials/nav.ejs %>
    <div class="container">
      <div class="menu">

        <div class="menu-section-container">
          <h2>Models:</h2>
          <div class="predictions-selected-models">
            Double click on a column label in the prediction matrix to select a model
          </div>
        </div>

        <div class="menu-section-container">
          <h2>Color scheme</h2>
          Select color scheme for visualizing predictions in the matrix
          <div class="select-container">
            <select class="color-scheme">
              <option selected value="RG_SCALE">Prediction values (red/green)</option>
              <option value="OB_SCALE">Prediction values (orange/blue)</option>
              <option value="BINARY_SCALE">Binary classification</option>
              <option value="MONO_SCALE">Distance from ground truth</option>
            </select>
          </div>
        </div>

      </div>
      <div class="tab" data-id="0">
        <div id="chart" class="heatmap"></div>
        <div id="pipelines"></div>
        <div id="confusion-matrices"></div>
        <div class="table-container">
          <table class="cell-border hover stripe" id="table"></table>
        </div>
      </div>
    </div>
  </body>
</html>
