/* disable text selection */
svg *::selection {
   background : transparent;
}

svg *::-moz-selection {
   background:transparent;
}

svg *::-webkit-selection {
   background:transparent;
}

rect.cell {
  cursor: pointer;
}

rect.selection {
  stroke          : #333;
  stroke-dasharray: 4px;
  stroke-opacity  : 0.5;
  fill            : transparent;
}

rect.cell-border {
  stroke: #eee;
  stroke-width:0.3px;
}

rect.cell-hover {
  stroke: #F00;
  stroke-width:0.3px;
}

rect.col-selected {
  stroke: #555;
  stroke-width:2px;
}

text.mono {
  font-size: 12px;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.text-selected {
  fill: #000;
}

text.text-highlight {
  fill: #c00;
}
text.text-hover {
  fill: #00C;
  cursor: pointer;
}

.colLabel.c0 {
  fill: #000;
}

.gt-border {
  fill: rgba(0,0,0,0.3);
}

#heatmap-tooltip {
  position: absolute;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  padding: 10px;
  background-color: rgba(64, 64, 64, 0.95);
}

#heatmap-tooltip.hidden {
  display: none;
}

#heatmap-tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.heatmap-tooltip-key {
  display: inline-block;
  color: #aaa;
  text-align: right;
  padding-right: 3px;
  margin-bottom: 1px;
  width: 70px;
}

.heatmap-tooltip-value {
  display: inline-block;
  color: white;
  margin-bottom: 1px;
}

.agg-heatmap {
  overflow: auto;
  max-width: 750px;
}

.heatmap {
  margin-top: 0;
  overflow: auto;
  text-align: center;
  max-height: 650px;
  max-width: 750px;
}


.heatmap::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.heatmap::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.heatmap::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  background-color: rgba(0,0,0, 0.5);
}