select.color-scheme {
  width:100%;
}

.predictions-selected-models {
  margin-bottom: 20px;
}

.predictions-selected-models > div:first-child {
  margin-top: 10px;
}

.predictions-threshold-container {
  position: relative;
}

.predictions-threshold-value {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  font-size: 14px;
}

input.threshold {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  margin: 10px 50px;
  background: linear-gradient(to right, #AEBDCD 0%, #2c3e50 100%);
  background-size: 100% 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  display: block;
  margin: 10px 0;
  border: none;
  border-radius: 0;
}

input.threshold::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 20px;
 background: #2c3e50;
 position: relative;
 z-index: 3;
}

input.threshold::-webkit-slider-thumb:after {
 content: " ";
 width: 160px;
 height: 10px;
 position: absolute;
 z-index: 1;
 right: 20px;
 top: 5px;
 background: #2c3e50;
}

#heatmap, #charts {
  display: inline-block;
  vertical-align: top;
}

#charts {
  width: 450px;
}