select.color-scheme {
  width:100%;
}

.predictions-selected-models {
  margin-bottom: 20px;
}

.predictions-selected-models > div:first-child {
  margin-top: 10px;
}

.predictions-threshold-container {
  position: relative;
}

.predictions-threshold-value {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  font-size: 14px;
}

input.threshold {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  margin: 10px 50px;
  background: linear-gradient(to right, #AEBDCD 0%, #2c3e50 100%);
  background-size: 100% 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  display: block;
  margin: 10px 0;
  border: none;
  border-radius: 0;
}

input.threshold::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 20px;
 background: #2c3e50;
 position: relative;
 z-index: 3;
}

input.threshold::-webkit-slider-thumb:after {
 content: " ";
 width: 160px;
 height: 10px;
 position: absolute;
 z-index: 1;
 right: 20px;
 top: 5px;
 background: #2c3e50;
}

.heatmap-legend {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

#heatmap {
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
}

#charts {
  width:100%;
  padding: 10px 20px 20px 20px;
}

#pipelines {
  display: none;
}

.example-container {
  position: fixed;
  right: -250px;
  top: 69px;
  max-height: calc(100vh - 89px);
  width: 250px;
  background: #D9E0E8;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.example-container h2 {
  margin-bottom: 4px;
}

.example-container .kv {
  transition: all 0.3s ease;
  padding: 4px 7px;
  margin: 8px 0;
}

.example-container-close {
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.example-container-close:hover {
  opacity: 1;
}

.example {
  margin-bottom: 10px;
  position: relative;
}

.examples-menu-container {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-left: -2px;
  width: 235px;
  max-height: 650px;
}

.examples-menu {
  width: 100%;
  padding: 10px 20px 10px 0;
  box-sizing: border-box;
}

.examples-menu.fixed {
  position: fixed;
  width: 235px;
  top:49px;
  right:0;
}

.example-filter-groups {
  margin-top: 10px;
  display: none;
}

.add-filter-group {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #D9E0E8;
  text-align: center;
  transition: all 0.3s ease;
}

.add-filter-group-btn:hover {
  background-color: #AEBDCD
}

.add-filter-group-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  line-height: 48px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #D9E0E8;
  transition: all 0.3s ease;
  cursor: pointer;
}

.add-filter-group-label {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 16px;
}

.filter-group {
  background-color: #D9E0E8;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  display: none;
}

.filter-group-name {
  padding: 2px 4px;
  border-radius: 2px;
  width: 175px;
}

.filter-group-close {
  transition: all 0.3s ease;
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.filter-group-close:hover {
  opacity: 1;
}

.example-filter {
  margin-top: 6px;
  font-weight: bold;
}

.example-filter-key {
  padding: 4px 6px;
  width: 70px;
  font-size: 12px;
  background-position: right 4px top 4px;
  margin-right: 2px;
  vertical-align: top;
  border-radius: 2px;
}

.example-filter-val {
  margin-left: 2px;
  width: 101px;
  height: 23px;
  box-sizing: border-box;
  padding: 0 4px;
  border-radius: 2px;
  vertical-align: top;
}

.example-filter-add:not(.last) {
  margin-left: 4px;
}

.example-filter-add {
  display: inline-block;
  font-weight: 300;
  transition: all 0.3s ease;
  opacity: 0.5;
  cursor: pointer;
  font-size: 21px;
  vertical-align: top;
  height: 23px;
  line-height: 21px;
  margin-left: 1px;
}

.example-filter-add:hover {
  opacity: 1;
}

.filter-btn {
  line-height: 30px;
  font-size: 16px;
  background-color: #D9E0E8;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: top;
  width: 138px;
  margin-right: 4px;
}

.filter-btn:hover, .add-filter-group:hover {
  background-color: #AEBDCD;
}

.examples-group-by {
  margin: 10px 0;
  display: none;
}

.examples-group-by select {
  width: 155px;
  margin-left: 6px;
}

.examples-menu-radio {
  padding: 10px 0;
}

.examples-menu-radio > input {
  margin-right: 10px;
  cursor: pointer;
}

.examples-menu-radio > label {
  cursor: pointer;
}

.predictions-sort-container select {
  width: 100%;
}

.examples-menu-close {
  position: absolute;
  padding: 10px 13px;
  right: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
  background-color: #D9E0E8;
  margin-top: 2px;
}

.examples-menu-close:hover {
  opacity: 1;
}

.menu-icon {
  transition: all 2s ease;
}

.menu-icon.rotated {
  -moz-transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}